{{ $type := .Get 0 | default "note" }}
{{ $title := .Get 1 | default "" }}

{{ $icons := dict "note" "📝" "warning" "⚠️" "info" "ℹ️" "danger" "❌" "highlight" "⭐" "tip" "💡"}}

<div class="callout {{ $type }}">
  {{- if and $title (ne $type "box") -}}
    <div class="title">{{ index $icons $type }} {{ $title }}</div>
  {{- else if and (ne $type "highlight") (ne $type "box") -}}
    <div class="title">{{ index $icons $type }} {{ $type | title }}</div>
  {{- end -}}
  {{ .Inner | markdownify }}
</div>
