name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Clean Hugo cache
        run: |
          rm -rf public/
          rm -rf resources/_gen

      - name: Build the website
        run: hugo --minify

      - name: Copy CNAME
        run: cp CNAME public/CNAME

      - name: Check Hugo build files
        run: |
          echo "Listing public/:"
          ls -lR public/
    
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
          force_orphan: true